/***** PORTFOLIO *****/
#work {
    background-color: #F9CEB7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

